@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

$primary: #3BE5FF;
$danger: tomato;
$success: #44B345;
$light: #f0f0f0;
$dark: #434343;
$font-family: 'Source Code Pro', monospace;