@import "variables";

body {
    background-color: $light;
    color: $dark;
    font-family: $font-family;
}

h1 {
    font-size: 3.25rem;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
}

.field {
    width: 100%;
    margin-bottom: .45rem;
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: .45rem;
}

input {
    // width: 100%;
    border-radius: 5px;
    border: 0;
    font-family: $font-family;
    padding: .45rem;
}

button {
    @extend input;
    width: auto;
    color: $light;
    font-weight: 600;

    &.success {
        background-color: $success;
    }

    &.danger {
        background-color: $danger;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $light;
        color: $dark;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark;
        color: $light;
    }
}