@import "variables";

body {
    background-color: $light;
    color: $dark;
    font-family: $font-family;
}

h1 {
    font-size: 3.25rem;
    text-align: center;
}

.container {
    max-width: 500px;
    margin: auto;
}

.field {
    width: 100%;
    margin-bottom: .45rem;
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: .45rem;
}

input {
    // width: 100%;
    border-radius: 5px;
    border: 0;
    font-family: $font-family;
    padding: .45rem;
}

button {
    @extend input;
    width: auto;
    color: $light;
    font-weight: 600;
    transition: all .2s;
    &.primary{
        width: 100%;
        background-color: $primary;
        color: $dark;

        &:hover {
            background-color: $primary-dark;
        }
    } 

    &.success {
        background-color: $success;

        &:hover {
            background-color: $success-dark;
        }
    }

    &.danger {
        background-color: $danger;

        &:hover {
            background-color: $danger-dark;
        }
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: $light;
        color: $dark;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark;
        color: $light;
    }
}